@model MinhasVendas.App.ViewModels.CarrinhoDeComprasViewModel

@{
    ViewData["Title"] = "Finalizar Compras";
}


@{
    var custoProduto = from item in Model.OrdemDeCompra.DetalheDeCompras select (item.CustoUnitario * item.Quantidade);
    decimal[] custoProdutos = custoProduto.ToArray();
    decimal totalCompra = custoProdutos.Aggregate((a, b) => a + b);
    Model.TotalCompra = totalCompra + Model.OrdemDeCompra.ValorDeFrete;
}


    <div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                
    </div>

<form asp-action="FinalizarCompra" id="finalizarVendaForm">
    
    <div class="modal-body">    
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>        
        <div class="form-group">
            <label asp-for="@Model.OrdemDeCompra.Id class="control-label"></label>
            <input readonly asp-for="@Model.OrdemDeCompra.Id" class="form-control" value=@ViewBag.OrdemDeCompraId>
        </div>        
        <div class="form-group">
            <label asp-for="@Model.TotalCompra" class="control-label"></label>
            <input readonly value="@Model.TotalCompra" class="form-control" />            
        </div>
         <div class="form-group">
            <label asp-for="@Model.OrdemDeCompra.FormaDePagamento" class="control-label"></label><br />
            <input type="radio" value="0" asp-for="@Model.OrdemDeCompra.FormaDePagamento" checked /> Pix<br />
            <input type="radio" value="1" asp-for="@Model.OrdemDeCompra.FormaDePagamento" /> Dinheiro<br />
            <input type="radio" value="2" asp-for="@Model.OrdemDeCompra.FormaDePagamento" /> Cartao<br />
            </div>               
        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Finalizar Venda" class="btn btn-success" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    
    </div>
</form>




