@model IEnumerable<MinhasVendas.App.Models.OrdemDeCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOrdemDeCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDeFrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrdemDeCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDeFrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="CarrinhoDeCompras" asp-route-id="@item.Id">CarrinhoDeCompras</a>
            </td>
        </tr>
}
    </tbody>
</table>
