@model MinhasVendas.App.ViewModels.CarrinhoDeComprasViewModel

@{
ViewData["Title"] = "Excluir Produto";
}

<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-action="ExcluirProduto"> 
    <vc:resumo></vc:resumo>
    <input type="hidden" asp-for="DetalheDeCompra.Id" />    
    <div class="modal-body">                                     
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetalheDeCompra.Quantidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetalheDeCompra.Quantidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetalheDeCompra.CustoUnitario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetalheDeCompra.CustoUnitario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetalheDeCompra.OrdemDeCompra)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetalheDeCompra.OrdemDeCompra.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetalheDeCompra.Produto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetalheDeCompra.Produto.Id)
            </dd>
        </dl>        
    </div>
    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Excluir Produto" class="btn btn-danger" /> |
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>                      
</form>



   



