@model MinhasVendas.App.Models.DetalheDeCompra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalheDeCompra</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustoUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustoUnitario)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistradoTransacaoDeEstoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistradoTransacaoDeEstoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemDeCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdemDeCompra.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
